.content {
    max-width: 1500px;
    margin: auto;
    overflow: auto;
}

.title {
    color: #802BB1;
}

.message_box {
    background-color: #4c495d;
}

.m_l_label {
    width: 100%;
    text-align: center;
}

.message_log {
    height: 400px;
    background-color: #FFFFFF;
}

.left {
    width: 65%;
    float: left;
}

.right {
    width: 25%;
    float: right;
}

.send {
    float: right;
    width: 10%;
}

.message {
    height: 25px;
    width: 85%;
    font-size: 12pt;
}

.friend_search {
    height: 25px;
    font-size: 12pt;
}
