.content {
    max-width: 1500px;
    margin: auto;
}

.title_left {
    color: #802BB1;
    display: flex;
    align-items: center;
    width: 65%;
    float: left;
    height: 80px;
}

.title_right {
    color: #802BB1;
    display: flex;
    align-items: center;
    width: 30%;
    float: right;
    height: 80px;
}

.misc_right {
    font-size: 1.5em;
    width: 150px;
}

.left {
    width: 65%;
    float: left;
}

.right {
    width: 25%;
    float: right;
}

.message_box {
    background-color: #4C495D;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.message_log_label {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.message_log {
    height: 400px;
    background-color: #D1D7E0;
}

.send {
    float: right;
    width: 10%;
    height: 30px;
}

.message {
    height: 25px;
    width: 85%;
    font-size: 12pt;
}

.contact_div {
    background-color: #4C495D;
    height: 720px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

nav ul {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #D1D7E0;
    margin: 0;
    padding: 0;
}

li {
    height: 25px;
}

.contact_label {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.message_contact {
    float: right;
}

.add_contact_label {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.add_contact_form_labels {
    float: left;
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
}

.add_contact {
    float: right;
    height: 30px;
    margin-top: 10px;
}

.add_contact_fields {
    height: 25px;
    width: 97%;
    font-size: 12pt;
}