<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/p2p.css" />
</head>

<style>
    body {
        background-color: #2D283E
    }
</style>

<body>
    <div class="content">
        <div class="titles">
            <div class="title_left">
                <a href="/login">
                    <img class="title_image" src="/static/imgs/p2psecure-logo.png" alt="P2PSecure"/>
                </a>
            </div>
            <div class="title_right">
                <h1 class="title_help">
                    <a href="/help" class="title_link">Help</a>
                </h1>

                <h1 class="title_about">
                    <a href="/about" class="title_link">About</a>
                </h1>

                <h1 class="title_contactus">
                    <a href="/contactus" class="title_link">Contact Us</a>
                </h1>
            </div>
        </div>

        <div class="left">
            <h1> About the Project </h1>
            <p> P2PSecure is a secure message chat application that places focus on privacy and data security. User information, contacts, and messages are encrypted and stored on a database that exists only on the local machines of the users. 
            <br /> <br />
            This is an attempt to create a trustless system, without a centralized server that holds onto all user information/messages.
            <br /> <br />
            For more information, see the <a href="https://bitbucket.org/jace1427/cis422_project2">Repo</a>.
            </p>
        </div>
    </div>
</body>
</html>
