<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <link href="static/css/p2p.css" rel="stylesheet" />

    <style>

      body {
        background-color: #2D283E
      }

    </style>
</head>

<head>
    <div class="content">
        <div class="title_left">
            <a href="/login">
                <img class="title_image" src="/static/imgs/p2psecure-logo.png" alt="P2PSecure"/>
            </a>
        </div>
        <div class="title_right">
            <h1 class="title_help">
                <a href="/help" class="title_link">Help</a>
            </h1>

            <h1 class="title_about">
                <a href="/about" class="title_link">About</a>
            </h1>

            <h1 class="title_contactus">
                <a href="/contactus" class="title_link">Contact Us</a>
            </h1>
        </div>

    </div>
</head>
<body>
    <div class="left">
      <h1> Questions? Here's how to contact us. </h1>
      <p>
        * Adam Christensen <br>
        * Riley Matthews   <br>
        * Lannin Nakai     <br>
        * Evan Podrabsky   <br>
        * Justin Spidell   <br>
      </p>
      
</body>
