<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/p2p.css" />
</head>

<style type="text/css">
    body {
        background-color: #2D283E
    }
</style>

<body>
    <div class="content">
        <div class="titles">
            <div class="title_left">
                <a href="/login">
                    <img class="title_image" src="/static/imgs/p2psecure-logo.png" alt="P2PSecure"/>
                </a>
            </div>
            <div class="title_right">
                <h1 class="title_help">
                    <a href="/help" class="title_link">Help</a>
                </h1>

                <h1 class="title_about">
                    <a href="/about" class="title_link">About</a>
                </h1>

                <h1 class="title_contactus">
                    <a href="/contactus" class="title_link">Contact Us</a>
                </h1>
            </div>
        </div>

        <div class="misc_div">
            <h1> Questions? Here's how to contact us. </h1>
            <p>
                * <a href="mailto: christe2@uoregon.edu">Adam Christensen</a><br />
                * <a href="mailto: rmatthe2@uoregon.edu">Riley Matthews</a><br />
                * <a href="mailto: lnakai@uoregon.edu">Lannin Nakai</a><br />
                * <a href="mailto: epodrabs@uoregon.edu">Evan Podrabsky</a><br />
                * <a href="mailto: jspidell@uoregon.edu">Justin Spidell</a><br />
            </p>
        </div>
    </div>
</body>
</html>
