<!--
TODO:
    Create title (https://letsbuildui.dev/articles/css-text-effects-five-minimal-examples)
-->
<!DOCTYPE HTML>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/p2p.css" />
</head>

<style type="text/css">
body {
    background-color: #2D283E
}
</style>

<body>
    <div class="content">
        <div class="title_left">
            <a href="/login">
                <img class="title_image" src="/static/imgs/p2psecure-logo.png" alt="P2PSecure"/>
            </a>
        </div>

        <div class="title_right">
            <h1 class="title_help">
                <a href="/help" class="title_link">Help</a>
            </h1>

            <h1 class="title_about">
                <a href="/about" class="title_link">About</a>
            </h1>

            <h1 class="title_contactus">
                <a href="/contactus" class="title_link">Contact Us</a>
            </h1>
        </div>
        <!-- <div class="title_left">
            <h1>P2PSecure</h1>
        </div>
        <div class="title_right">
            <h1 class="misc_right"><a href="{{ url_for("index") }}">Help</a></h1>
            <h1 class="misc_right"><a href="{{ url_for("index") }}">About</a></h1>
            <h1 class="misc_right"><a href="{{ url_for("index") }}">Contact Us</a></h1>
        </div> -->

        <div class="left">
            <div class="message_box">
                <div class="message_log_label">
                    <label>Message Log</label>
                </div>
                <div class="message_log">
                    TODO
                </div>
            </div>
            <br />
            <form action="/send" method="POST">
                <input type="text" name="text" class="message" placeholder="..."/>
                <input type="submit" class="send" value="Send" />
            </form>
        </div>

        <div class="right">
            <div class="contact_div">
                <div class="contact_label">
                    <label>Contacts</label>
                </div>
                <nav>
                    <ul>
                        {% for row in range(20) %}
                            <li>
                                Name
                                <input class="message_contact" type="submit" name="{{row}}" value="Message" />
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                <br />
                <div class="add_contact_label">
                    <label>Add Contact</label>
                </div>
                <br />
                <div class="add_contact_form">
                    <form>
                        <div class="add_contact_form_labels">
                            <label>Name:</label>
                        </div>
                        <input name="IP" class="add_contact_fields" placeholder="Name" />
                        <div class="add_contact_form_labels">
                            <label>IPV4 Address:</label>
                        </div>
                        <input name="name" class="add_contact_fields"placeholder="0.0.0.0" />
                        <input type="submit" class="add_contact" value="Add Contact" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
