<!-- 
TODO: 
    Create title (https://letsbuildui.dev/articles/css-text-effects-five-minimal-examples)
-->
<!DOCTYPE HTML> 
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/p2p.css" />
</head>

<style type="text/css">
body {
    background-color: #2D283E
}
</style>

<body>
    <div class="content">

        <div class="title">
            <h1 data-text="Peer-2-Peer">P2PSecure</h1>
        </div>

        <div class="left">
            <div class="message_box">
                <div class="m_l_label">
                    <label>Message Log</label>
                </div>

                <div class="message_log">
                    TODO
                </div>
            </div>

            <br />

            <form action="/send" method="POST">
                <input type="text" name="text" class="message" placeholder="..."/>
                <input type="submit" class="send" value="Send" />
            </form>
        </div>

        <div class="right">
            <form>
                <label>Add a new Contact:</label>
                <br />
                <label>IP:</label>
                <input name="IP" placeholder="0.0.0.0" />

                <label>Name:</label>
                <input name="IP" placeholder="Name" />
            </form>

            <h2>Contacts</h2>
            <label>Search:</label>
            <input type="search" class="friend_search" name="friend_search" />

            <table>
                {% for row in range(10) %}
                    <tr>
                        <td>Name</td>
                        <td><input type="submit" name="{{row}}" value="Message" /></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>