<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <link href="static/css/p2p.css" rel="stylesheet" />

    <style>

    body {
        background-color: #2D283E
    }
    </style>
</head>

<body>
    <div class="content">
        <div class="title_left">
            <a href="/login">
                <img class="title_image" src="/static/imgs/p2psecure-logo.png" alt="P2PSecure"/>
            </a>
        </div>
        <div class="title_right">
            <h1 class="title_help">
                <a href="/help" class="title_link">Help</a>
            </h1>

            <h1 class="title_about">
                <a href="/about" class="title_link">About</a>
            </h1>

            <h1 class="title_contactus">
                <a href="/contactus" class="title_link">Contact Us</a>
            </h1>
        </div>

        <div class="left">
            <div class="register_box">
                <div class="login_label">
                    <label>Register</label>
                </div>
                <form action="/registration_attempt" method="POST">
                    <input type="username" name="username-input" class="textbox username_box" placeholder="New Username"/>
                    <input type="password" name="password-input" class="textbox password_box" placeholder="New Password"/>
                    <div>
                        <input type="submit" class="register_button" value="Register"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
